.container {
    display: none;
    max-width: 800px;
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.botao {
    margin: 40px auto;
    max-width: 800px;
    border-radius: 15px;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #7a5be0;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #5a3fc7;
}

.botao_resposta {
    background-color: #7a5be0;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.botao_resposta::after {
    content: '\27A4';
    font-size: 1.2em;
}

.resultado {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.inputResposta{
    width: 100%;
}

.resposta{
    display: flex;
}

body {
    background: linear-gradient(to top right, #52C2D8, #fff);
    background-attachment: fixed;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1 {
    font-size: 2.8em;
    margin: 0;
    font-weight: bold;
    color: #5a3fc7;
}

.titulo h2 {
    font-size: 1.57em;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}
